%h3.page-title
  Add Service Integrations
%p.light
  Poqbod is most useful when you can see everything your team is doing — that includes all the tools you use outside of Poqbod! Integrations let you automatically pull information and activity from outside tools into Poqbod in a way that's timely, relevant, and searchable. Or, make your own!
%hr

- if @services.count > 0
  - for service in @services
    = render "services/item/#{service.provider}", service: service
- Gitlab.config.services.each do |service|
  - unless @services.any?{|x| x.provider == service[0].to_s} || service[1]["enable"] == false
    = render "services/item/#{service[0].to_s}"
