.project-edit-container
  .project-edit-content

    = form_for @service, remote: true, html: { class: 'new_project form-horizontal' } do |f|
      .form-group.project-name-holder
        = f.label :name, class: 'control-label' do
          %strong Choose Services
        .col-sm-10
          = link_to "/users/auth/twitter",class: "btn btn-new" do
            Twitter


.save-project-loader.hide
  %center
    %h2
      %i.icon-spinner.icon-spin
      Creating project &amp; repository.
    %p Please wait a moment, this page will automatically refresh when ready.
