- if @has_authorized_services
  .dashboard.row
    .activities.col-md-8
      = render 'activities'
    .side.col-md-4.hidden-sm.hidden-xs
      #dashboard_sidebar
        = render 'sidebar'

- else
  = render "zero_authorized_projects"
