.row
  .col-md-12
    .ui-box
      .title
        Feeds (#{@feeds.count}) Posts (#{Post.rss_count})
        .pull-right
          Category | Subscribers | Posts | Last Fetch Time
      %ul.well-list
        - @rss_feeds_rss_categories.each do |feed|
          %li
            .list-item-name
              = feed.rss_feed.name
            .pull-right
              %span.light
                = feed.rss_category.name + " | " + feed.rss_feed.user_count.to_s + " | " + feed.rss_feed.post_count.to_s + " | " + feed.rss_feed.last_fetched.stamp('05/14/2014 12:13PM')
