# To enable smtp email delivery for your GitLab instance do next: 
# 1. Rename this file to smtp_settings.rb
# 2. Edit settings inside this file
# 3. Restart GitLab instance
#
if Rails.env.production?
  Gitlab::Application.config.action_mailer.delivery_method = :smtp

  ActionMailer::Base.smtp_settings = {
    address: "smtp.mailgun.org",
    port: 25,
    user_name: "postmaster@automail.poqbod.com",
    password: "3i-uise83365",
    domain: "automail.poqbod.com",
    authentication: :plain,
    enable_starttls_auto: true
  }
end
