.event_filter
  = event_filter_link EventFilter.important, 'Important'
  = event_filter_link EventFilter.normal, 'Normal'
  = event_filter_link EventFilter.low, 'Low'
  = event_filter_link EventFilter.favourite, 'Favourite'
