.event_filter
  = event_filter_link EventFilter.push, 'To-Do'
  = event_filter_link EventFilter.merged, 'Important'
  = event_filter_link EventFilter.comments, 'Normal'
  = event_filter_link EventFilter.team, 'Low'
