.form-service
  = image_tag image_path("services/twitter.png"), class: "icon"
  %h4
    - if !service.nil? && current_user.services.any?{|service| service.provider == "twitter"}
      = connected_title(service)
    - else
      Twitter
  %br
  - if !service.nil? && current_user.services.any?{|service| service.provider == "twitter"}
    - if params[:action] == 'new'
      = link_to service_path(service), class: "btn btn-new" do
        %i.icon-pencil{:style=>"margin-right: 0.25rem;"}
        Edit
  - else
    = link_to "/users/auth/twitter", class: "btn btn-new", :disable_with => "Certification requesting..." do
      %i.icon-plus{:style=>"margin-right: 0.25rem;"}
      Add
