.event-title
  %span.author_name= link_to_author event
.event-body
  .event-note
    .md
      = raw event_title(event)
      - if event.post.photos.count >= 1
        - event.post.photos.each do |photo|
          %br
          = image_tag photo.image.url
