%li
  = link_to post.link, :target => "_blank" do
    %strong.term= post.title
  - if post.description.present?
    &ndash;
    .event-body
      .event-note
        .md.rss_body
          = sanitize(post.description)
