%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        Poqbod
  :css
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }

  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        \—
        %br
        - if @target_url
          #{link_to "View it on Poqbod", @target_url}
